---
interface Props {
	name: string;
	title: string;
	body: string;
	href: string;
	image_alt: string;
}

const { name, title, body, href, image_alt } = Astro.props;

const hero_img = "/projects/" + name + "/hero.png"
const image_transition_name = "project_" + name + "_img";
const title_transition_name = "project_" + name + "_title";
const description_transition_name = "project_" + name + "_description";
---

<li class="link-card">
	<a href={href}>
		<div class="link-card-img-container" transition:name={image_transition_name}>
			<img src={hero_img} alt={image_alt} />
		</div>
		<div class="link-card-text">
			<h2 transition:name={title_transition_name}>
				{title}
				<span>&rarr;</span>
			</h2>
			<p transition:name={description_transition_name}>
				{body}
			</p>
		</div>
	</a>
</li>
<style>
	.link-card-img-container {
		/** This is the element being animated in view transitions */
		height: 9rem;
		width: 100%;
		overflow: hidden;
		opacity: 0.8;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
	.link-card img {
		width: 100%;
		height: 100%;
		scale: 107%;
		opacity: 80%;
		object-fit: cover;
		transition: scale 0.3s;
	}
	.link-card:is(:hover, :focus-within) img {
		scale: 100%;
	}
	.link-card {	
		list-style: none;
		display: flex;
		padding: 1px;
		background-color: #23262d;
		background-image: none;
		background-size: 400%;
		border-radius: 8px;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
		transition: scale 0.3s
	}
	.link-card-text {
		padding: calc(1.5rem - 1px);
	}
	h2 {
		/** Applying this to the parent container instead will make it not work during view transitions */
		opacity: 0.8;
	}
	p {
		opacity: 0.8;
	}
	.link-card > a {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: start;
		text-decoration: none;
		line-height: 1.4;
		border-radius: 8px;
		color: white;
		background-color: #23262dcc;
		overflow: hidden;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.link-card:active {
		scale: 96%;
	}
	.link-card:is(:hover, :focus-within) {
		background-position: 0;
		background-image: var(--accent-gradient);
	}
	.link-card:is(:hover, :focus-within):not(:active) {
		scale: 107%;
	}
	.link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent-light));
	}
</style>
